<div class="conteiner m-5">
  <div class="row mt-4">
    <div class="col-2">
      <%= render partial: 'admins/homes/admin_menu' %>
    </div>
    <div class="col-10">
      <h4>番組一覧</h4>
      <p>😲<%= @time.strftime("%-H:%M") %>の情報です</p>
      <%= render partial: 'admins/programs/select_form', locals: { programs: @programs, sort: @sort } %>
      <%= render partial: 'admins/programs/index', locals: { programs: @programs } %>
    </div>
  </div>
</div>