<div class="conteiner m-5">
  <div class="row mt-4">
    <div class="col-3">
      <div class="btn btn-outline-info">уЋфухёСИђУдДсѓњУАеуц║сЂЎсѓІ</div><br>
      <%= link_to 'уЋфухёТЃЁта▒сѓњТЏ┤Тќ░сЂЎсѓІ', admins_scrape_path, class: 'btn btn-outline-danger' %>
      <%#= link_to "уЋфухёТЃЁта▒сѓњтЈќтЙЌсЂЎсѓІ", '#', id: 'display-program-list' %>
      <%#= link_to "уЋфухёТЃЁта▒сѓњтЈќтЙЌсЂЎсѓІ", admins_scrape_path, remote: true, id: 'get-data', style: 'display:none;' %>
    </div>
    <div class="col-9">
      <h4 class="">уЋфухёСИђУдД</h4>
      <strong>­Ъў▓<%= @time.strftime("%-H:%M") %>сЂ«ТЃЁта▒сЂДсЂЎ</strong>
      <div id="programs_area">
        <%= render partial: 'admins/programs/information', locals: { programs: @programs } %>
      </div>
    </div>
  </div>
</div>