<div class="conteiner m-5">
  <div class="row mt-4">
    <div class="col-3">
      <%= link_to 'уЋфухёТЃЁта▒сѓњТЏ┤Тќ░сЂЎсѓІ', class: 'btn btn-outline-danger' %>
      <%#= link_to "уЋфухёТЃЁта▒сѓњтЈќтЙЌсЂЎсѓІ", '#', id: 'display-program-list' %>
      <%#= link_to "уЋфухёТЃЁта▒сѓњтЈќтЙЌсЂЎсѓІ", admins_scrape_path, remote: true, id: 'get-data', style: 'display:none;' %>
    </div>
    <div class="col-9">
      <h4 class="">уЋфухёУЕ│у┤░</h4>
      <strong>­Ъў▓<%= @time.strftime("%-H:%M") %>сЂ«ТЃЁта▒сЂДсЂЎ</strong>
      <div id="programs_area">
        <%= render partial: 'layouts/information', locals: { programs: @program } %>
      </div>
      <%= link_to "Back", admins_programs_path, class: "btn btn-sm btn-danger" %>
    </div>
  </div>
</div>

<!--# жќІтДІТЎѓтѕ╗-->
<!--    # ТЎѓжќЊ-->
<!--    # hour = datetime.hour-->
<!--    # # тѕє-->
<!--    # minute = datetime.minute-->

<!--    # # ТЌЦС╗ў-->
<!--    # year = datetime.year-->
<!--    # month = datetime.month-->
<!--    # date = datetime.day-->