<div class="conteiner m-5">
  <div class="row mt-4">
    <div class="col-2">
      <div class="mb-3">
        <%= render partial: 'admins/members/search_form', locals: { search_params: @search_params } %>
      </div>
      <div class="mb-3">
        <%= render partial: 'admins/homes/admin_menu' %>
      </div>
    </div>
    <div class="col-8 mx-auto">
      <h2>会員一覧</h2>
      <%= render partial: 'admins/members/index', locals: { members: @members } %>
    </div>
  </div>
</div>