<div class="conteiner m-5">
  <div class="row mt-4">
    <div class="col-12">
      <h4 class="text-center">top</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-8 mx-auto">
      <div class="hoge">
        <%#= link_to, program_path(@favorite_top) do %>
          <%#= image_tag "assets/images/img/pexels-teona-swift-6913383.jpg", size: '100x100' %>
          <!--お気に入り1位-->
        <%# end %>
        <%= link_to "レビュー１位", program_path(@review_top) %>
        <%= link_to "PV１位", program_path(@pv_top) %>
        <%= link_to "おすすめ", program_path(@recommendation) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-9"></div>
    <div class="col-3"></div>
  </div>
</div>