<div class="conteiner m-5">
  <div class="row mt-4">
    <div class="col-9">
      <h4 class="">уЋфухёУЕ│у┤░</h4>
      <strong>­Ъў▓<%= @time.strftime("%-H:%M") %>сЂ«ТЃЁта▒сЂДсЂЎ</strong>
      <div id="programs_area">
        <%= render partial: 'layouts/information', locals: { program: @program } %>
      </div>
      <div>
        <%= render partial: 'members/programs/favorite', locals: { program: @program, member: @member } %>
      </div>
      <%= link_to "Back", programs_path, class: "btn btn-sm btn-danger" %>
    </div>
    <div class="col-3">
    </div>
  </div>
</div>