/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "slick-theme";
@import "slick";
@import "toastr";

*{
  padding: 0;
  margin: 0;
  boxsizing: border-box;

}

header{
  background-color: #FFFFFF;
	color: #000000	;
	font-size: 1.5rem;
}

ul,
ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav-item {
 line-height: auto;
}

.navbar-brand {
  padding: 0 auto;
}
a{
	color: #333;
	text-decoration: none;
  outline: none;
}

a:visited{
  color: #333;
	text-decoration: none;
  outline: none;
}

a:hover{
  text-decoration: none;
  color: #333;
  background-color: transparent;
  outline: none;
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item {
    padding: 0 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-nav .nav-item {
    padding: 0 2rem;
  }
}
@media (min-width: 1200px) {
  .navbar-nav .nav-item {
    padding: 0 3rem;
  }
}

body{
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
  font-family: AleoRegular, sans-serif;
	color: #333;
	font-size: 1rem;
	line-height: 1.85;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	word-wrap: break-word;
}

.top-row{
  height: 400px;
}

.image-left{
  height: 80%;
  margin: 60px auto;
	background-image: url(img/home1.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}
.image-center{
  height: 80%;
  margin: 60px auto;
	background-image: url(img/home2.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}
.image-right{
  height: 80%;
  margin: 60px auto;
	background-image: url(img/home3.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}

.image-left-text{
  text-align: right;
  padding: 38% 7%;
}

.image-left-text b{
  background-color: #ff9;
}

.top-buttom{
  margin-bottom: 100px;
}

footer{
  background-color: #FFFFFF;
  font-family: 'Sawarabi Gothic', sans-serif;
	color: #000000	;
}

.pagination {
  justify-content: center;
}


